---
layout: default
---
<!-- default.html-->
      <div class="post" style="width: 200%;">
        <header class="post-header">
          <h1 class="post-title">
           <span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }} {{ site.last_name }}
          </h1>
          <p class="desc">{{ page.subtitle }}</p>
        </header>

        <article>
          {% if page.profile -%}
          <div class="profile float-{%- if page.profile.align == 'left' -%}left{%- else -%}right{%- endif -%}">
            {%- if page.profile.image %}
              {%- assign profile_image_path = page.profile.image | prepend: 'images/' -%}
              {% include figure.html 
              path=profile_image_path 
              class="img-fluid z-dept-1 rounded"
              alt=page.profile.image -%}
            {% endif -%}
            {%- if page.profile.bio %}  
            <div class="author__bio">
              <span class="font-weight-normal">{{ page.profile.bio }}</span>
            </div>
            {%- endif %}
          </div>
          {%- endif %}

          <div class="clearfix">
            {{ content }}
          </div>

          {% if page.news -%}
          <!-- News -->
          <div class="news">
            <h2>News</h2>
              {% if site.news != blank -%} 
              <div class="table-responsive">
                <table class="table table-sm table-borderless">
                {%- assign news = site.news | reverse -%} 
                {% for item in news limit: site.news_limit %} 
                  <tr>
                    <th scope="row">{{ item.date | date: "%b %-d, %Y" }}</th>
                    <td>
                      {% if item.inline -%} 
                        {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
                      {%- else -%} 
                        <a class="news-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
                      {%- endif %} 
                    </td>
                  </tr>
                {%- endfor %} 
                </table>
              </div>
            {%- else -%} 
              <p>No news so far...</p>
          {%- endif %}
          </div> 
          {%- endif %}

          {% if page.selected_papers -%}
            <!-- Selected papers -->
            {%- include selected_papers.html %}
          {%- endif %}

          {%- if page.social %}
          <!-- Social -->
          <div class="social">
            <div class="contact-icons">
            {% include social.html %}
            </div>

            <div class="contact-note">
              {{ site.contact_note }}
            </div>
            
          </div>
          {%- endif %}
        </article>

</div>
<!-- default.html-->